# Python
.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Mojo
*.mojop

# Editors
.DS_Store
*~
.idea/
.vscode/

# Environment variables
.env

# Installation artifacts
modular_install.sh
setup.deb.sh
